<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2 style="background-color:black, color:white">Header</h2>
        @RenderBody()
        <h2 style="color:darkgreen">Footer</h2>
    </div>
</body>
</html>
